body {
  background-color: plum;
  display:flex;
  align-items: center;
  justify-content: center;
}

div.watch {
  width: 500px;
  height: 550px;
  margin: auto;
  background-image: url("./Images/57228_p\ \(1\).jpg");
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 10px;
  margin-top: 70px;
}

div.text {
  background-color: #fff;
  width: 500px;
  height: 250px;
  position: absolute;
  top: 300px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

h1 {
  display: inline-block;
  padding: 10px;
  margin-top: 20px;
  margin-left: 30px;
  font-size: 40px;
  padding-bottom: 0;
}

h3 {
  display: inline-block;
}

p {
  margin-left: 40px;
  font-size: 20px;
}

div.label {
  width: 200px;
  background-color: bisque;
  position: absolute;
  right: 310px;
  top: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

div.watch > div.label > p {
  text-align: center;
  margin-right: 36px;
  font-size: 15px;
}
